@charset "utf-8";
/* CSS Document */

body{
margin:0px;	
font-family: 'Roboto', sans-serif;
font-size: 14px;
}
.linha{
position:relative;
float:left;
width:100%;	
}
.div98{
position:relative;
float:left;
width:98%;
margin: 0px 1%;	
}
.div96{
position:relative;
float:left;
width:96%;
margin: 0px 2%;	
}
.div75{
position:relative;
float:left;
width:73%;
margin: 0px 1%;	
}
.div50{
position:relative;
float:left;
width:48%;
margin: 0px 1%;	
}
.div40{
position:relative;
float:left;
width:38%;
margin: 0px 1%;	
}
.div25{
position:relative;
float:left;
width:23%;
margin: 0px 1%;	
}
.div20{
position:relative;
float:left;
width:18%;
margin: 0px 1%;	
}
.div15{
position:relative;
float:left;
width:13%;
margin: 0px 1%;		
}
.div10{
position:relative;
float:left;
width:8%;
margin: 0px 1%;		
}
.top10{
margin-top:10px;	
}
.top20{
margin-top:20px;	
}
.top30{
margin-top:30px;	
}
.top40{
margin-top:40px;	
}
.top50{
margin-top:50px;	
}
.top100{
margin-top:100px;	
}
.centro{
text-align:center;	
}
.direita{
text-align:right;	
}
.mascara,.mascara2{
background-color:#ffffff;
position:fixed;
width:100%;
height:100%;
z-index:40;
display:none;
text-align:center;	
opacity:0.8;
}
.mascara2{
z-index:120;	
}
.mascara img, .mascara2 img{
	width: 300px;
	max-width: 90%;
	margin-top: 200px;
	
}

.tudo{
	
}
.submenu{
position: relative;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.subitem{
	    position: relative;
    float: left;
    padding: 5px 15px;
    background-color: #16b293;
    color: #FFF;
    border-radius: 3px;
    margin-right: 10px;	
	cursor:pointer;
}
.exibepaciente{
    position: relative;
    float: left;
    width: 50%;
    margin-left: 24%;
    padding: 6px 1%;
    font-size: 1.2em;
    border-bottom: 2px dotted #16b293;
    color: #888;
	cursor:pointer;	
}
.exibepaciente:hover{
	background-color: #16b293;
    color: #FFF;	
}
.titulopagina{
	font-size: 1.6em;
    color: #86458a;	
	margin-top: 90px;
}
.topoagenda{
position: absolute;
background-color:#FFF;
    top: 60px;
    width: 100%;
	z-index: 70;
	height:75px;
	padding-bottom: 10px;	
}
.corpoagenda{
position: absolute;
    width: 100%;
	top:180px;
	margin-bottom:60px;	
}
.numhoras{
position: absolute;
    z-index: 10;	
}
.hora{
     position: absolute;
    padding: 40px 0px 0px 0px;
    height: 60px;
    width: 79px;
    text-align: center;
    background-color: #e4e4e4;
    color: #808080;
    font-size: 1.2em;
    font-weight: 500;
    /* text-shadow: 0px 0px 4px #000; */
    cursor: pointer;
}
.linhahora{
	    position: relative;
    float: left;
    width: 98%;
   /* height: 45px; */
   height: 100px;
    background-color: #f1f2f3;
    border-bottom: 1px solid #d1d5d8;
    border-top: 1px solid #f5f5f5;	
}
.linhahatual{
	position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ff99005e;
    z-index: 10;	
}
.consultas{
	position: absolute;
    height: 100%;	
	left:80px;
}
.consulta{
	position: absolute;
    width: 303px;
    margin-left: 36px;
    padding: 0px 8px 0px 3px;
    font-size: 0.8em;
    background-color: #ffffffe3;
    border-bottom: 1px solid #e6e6e6;
    z-index: 20;
    cursor: pointer;
}
.txtconsulta{
		
}
.escolhetipo{
	position: relative;
    float: right;
    width: 240px;
    margin-top: 8px;
	margin-right: 30px;	
}
.escolhemedico, .escolhesede{
	    position: relative;
    float: right;
    width: 240px;
    margin-top: 8px;
	margin-right: 0px;	
}
.agmedico{
	position:absolute;
	width: 350px;
	height: 100%;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #FFF;
	z-index: 10;
	cursor:pointer;	
}
.modal{
	position:absolute;
	width: 80%;
	left:8%;
	top: 170px;
	margin-bottom: 100px;
	padding: 20px 2%;
	background-color: #FFF;
	box-shadow: 0px 0px 20px #000;
	border-radius: 20px;
	z-index: 50;
	display:none;
}
.modalcliente{
	z-index:60;	
}
.titulomodal{
	width: 95%;
	font-size: 2em;
	color:#09C;	
	border-bottom: 2px solid #F5F5F5;
	padding-bottom: 8px;
}
.label{
	color:#069;	
}
input[type=text],input[type=time],input[type=email],input[type=tel],input[type=password],select,textarea{
	width: 90%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
	font-family: inherit;
}
input[type=text]:focus,input[type=time]:focus,input[type=email]:focus,input[type=tel]:focus,select:focus,textarea:focus{
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.btnsalva{
	    width: 400px;
    position: relative;
    margin-left: -250px;
    padding: 10px 0px;
    left: 50%;
    border-radius: 6px;
    background-color: #09c;
    background-image: linear-gradient(#00000014, #ffffff2b);
    border: none;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 0px 1px 3px #8e8e8e;
    cursor: pointer;
}
.btaddpaciente{
	position: relative;
    float: right;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    font-size: 1.3em;
    padding-bottom: 8px;
    font-family: inherit;
    background: linear-gradient(#00000014, #ffffff2b);
    background-color: #f7f7f7;
	cursor:pointer;	
}

.maisreceituario{
	position: relative;
    float: left;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    font-size: 1.3em;
    padding-bottom: 8px;
    font-family: inherit;
    background: linear-gradient(#00000014, #ffffff2b);
    background-color: #f7f7f7;
	cursor:pointer;	
}

.sugestoes,.sugestoespac,.sugestoesdoenca{
position: absolute;
    width: 88%;
    padding: 8px 1%;
    background-color: #FFF;
    z-index: 30;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;	
	display:none;
}
.nomebuscacliente,.nomedoenca{
	padding: 4px 0px;
    color: #777;
	cursor:pointer;	
}
.nomebuscacliente:hover,.nomedoenca:hover{
	color:#000;
	background-color:#FFFFDF;	
}
#diaagenda{
	position: absolute;
    top: 39px;
    left: 40px;
    background: none;
    border: none;
    font-size: 1.4em;
    color: #5bc0de;	
	cursor:pointer;
	z-index: 80;
}
.consultasde{
	position: absolute;
    top: 20px;
    left: 45px;
    font-size: 0.9em;
    color: #999;	
}	
.setadia{
	    position: absolute;
    top: 34px;
    background: none;
    border: none;
    font-size: 1.6em;
    /* background-color: #5bc0de; */
    background-image: linear-gradient(to right, #5bc0de,#8ae3fd);
    color: #ffffff;
    padding: 3px 8px 6px;
    text-shadow: 0px 1px 2px #333;
    cursor: pointer;
    border-radius: 5px;
}
.maisdia{
	left: 153px;	
}
.menosdia{
	left:10px;	
}
.nomemedico{
	    margin-top: -33px;
    margin-left: 1px;
    font-size: 1.2em;
    width: 338px;
    background-color: #909090;
    color: #FFF;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.loader{
	position: absolute;
	width: 100%;
	text-align:center;	
	z-index: 40;
	top: 100px;
}	
.icomenu{
	position: relative;
    float: right;
    width: 33px;
    padding: 5px;
    border: 3px solid #e0e0e0;
    margin-top: 16px;
    margin-right: 16px;
    border-radius: 5px;
	cursor:pointer;
}
.icomenu img{
	width:100%;	
	opacity:0.8;
}
.qmenu{
	position: absolute;
    width: 240px;
    padding: 5px 15px;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 20px #444;
    top: 70px;
    right: 16px;
    border: 3px solid #c7c7c7;
    border-radius: 5px;
    z-index: 25;
	display:none;
}
.itemmenu{
	position: relative;
    float: left;
    width: 14.28%;
    padding: 5px 0px;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    font-weight: 600;
    height: 50px;
    color: #FFF;
    box-shadow: -1px 0px 0px #ffffff61;
}
.itemmenu img{
	height:32px;
	margin-bottom:4px;	
}
.itemmenu:hover{
	    background-image: linear-gradient(#58585845,#ffffff61);	
}
.mn1{
	background-color:#5bc0de;	
}
.mn2{
	background-color:#d9534f;	
}
.mn4{
	background-color:#f0ad4e;	
}
.mn5{
	background-color:#337ab7;	
}
.mn6{
	background-color:#5cb85c;	
}
#inputdocumento,#inputfoto,#inputassinatura{
	display:none;	
}
.btenviar, #btaddprocedimento{
    position: relative;
    float: left;
    padding: 8px 14px;
    background-color: #0099cc;
    color: #FFF;
    border-radius: 6px;
	cursor:pointer;	
	border: none;
}
#btaddprocedimento{
	margin-top:25px;
}
.linhavaloresprocedimentos{
	display:none;	
}
.linkdoc{
	position: relative;
    float: left;
    padding: 8px 14px;
    background-color: #818182;
    color: #FFF;
    border-radius: 6px;
    font-size: 0.8em;
    margin: 5px;	
}
.linkdoc a{
	text-decoration: none;
	color:#FFF;
}	
.linkdoc:hover{
	background-color:#06F;	
}
.imgpaciente{
    position: relative;
    float: left;
    margin-right: 5%;
    left: 50%;
    margin-left: -175px;
    height: 180px;
    border-radius: 20px;
    display: none;	
}
.tblusu{
	font-family:inherit;
	font-size: 0.8em;
	padding: 8px 14px;
	background-color:#EBEBF1;
	border: 1px solid #FFF;	
	width: 120px;
}
.cabectabela{
	font-family:inherit;
	font-size: 0.8em;
	padding: 8px 14px;
	font-weight:600;
	background-color:#D2D2D2;
	border: 1px solid #FFF;
	width: 120px;	
}
.deletausu,.alterausu,.deletaplano,.alteraplano,.alterasala,.alteraitemest,.deletaitemest,.alteramascaraeco,.deletamascaraeco{
	width: 20px;
    background-color: red;
    text-align: center;
    color: #FFF;
    padding: 0px 4px;
	cursor:pointer;	
}
.alterausu,.alteraplano,.alterasala,.alteraitemest,.alteramascaraeco{
background-color:#bd9700;	
}
.btaddstq{
position: absolute;
    float: left;
    width: 30px;
    padding: 2px 0px;
    background-color: #5bc0de;
    text-align: center;
    margin-top: 8px;
    border-radius: 4px;
    font-weight: 600;
    color: #FFF;
    text-shadow: 1px 1px 2px #797878;
    background-image: linear-gradient(#00000014, #ffffff2b);
	cursor:pointer;
}
.menosstq{
top: 21px;	
background-color: #e86e6e;
}
.nomeitemest{
	    font-size: 1.2em;
    padding-top: 18px;
    color: #337ab7;
}
.alteraqtditem{
padding: 8px;
    margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #CCC;	
}
.salvaritemest{
    font-size: 1.2em;
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;	
}

.qlogin{
	position:relative;
	float:left;
	width: 40%;
	left:28%;
	margin-top: 40px;
	padding: 20px 2%;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #999;
	border-radius: 20px;
	z-index: 50;
}
.cabecalho{
	height: 60px;	
	position:fixed;
	background-color: #FFF;
	z-index: 80;
}
.logo{
	position:relative;
	float:left;
	text-align:center;
	width: 14.28%;
	cursor: pointer;	
}
.logo img{
	width:90%;
	max-height:50px;
	margin-top:15px;	
}
.video1,.video2{
position:relative;
float:left;
margin-left:240px;
margin-top:20px;
display:none;	
}
.video1{
	
}
.botoesfoto{
position: absolute;
    top: 80px;	
	display:none;	
}
#snap{
background-color: #09c;
    width: 66px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 16px;
    border: 2px solid #006f94;	
	margin: 50px;
	cursor:pointer;
}
#snap img{
	width:40px;	
}
#snap:hover{
	background-color:#006f94;
}
.btprontuario, .btreceituario, .btvercliente, .btlimpapront, .btcarregafotospt,.btwhats,.btnovousu, .btnovoitem,.btnovasala,.btnovoplano,.btdelconsulta,.btnovamascaraeco,.btlaudoeco{
        position: relative;
    float: right;
    padding: 4px 7px;
    background-color: #0099cc;
    color: #FFF;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.5em;
    margin-left: 10px;	
}
.btnovousu, .btnovoitem,.btnovoplano,.btnovasala,.btnovamascaraeco{
float:left;
font-size:0.9em;	
}
.btwhats{
background-color:#093;
display:none;	
}
.btdelconsulta{
background-color:red;	
}
.btsalvapadrao{
padding: 10px;
font-size: 1.2em;
    border: none;
    background-color: #0099cc;
    color: #FFF;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;	
}
.modalprontuario, .modalreceituario{
	z-index: 80;
}
.fecharmodal{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 36px;
    height: 27px;
    padding-top: 9px;
    text-align: center;
    background-color: #0099cc;
    font-weight: 600;
    border-radius: 50%;
    color: #FFF;
    border: 2px solid #0782ab;
	cursor:pointer;
}
.fecharmodal:hover{
	background-color: #0782ab;
}
textarea{
	height: 120px;	
}
.exibenomepaciente{
	font-size: 1.6em;
    color: #666;	
}
.listahistorico{
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0px;
    border-bottom: 2px dotted #169cc9;
	cursor:pointer;
	
}
.listahistorico:hover{
background-color:#C9F49D;	
}
.itemhist{
padding: 4px;
    background-color: #038fbe;
    color: #FFF;	
}
.datahist{
	padding: 4px 8px;
    background-color: #9a4498;
    color: #FFF;	
}
.tipohist{
    font-size: 1.6em;
    color: #028ebd;	
}
.foraprontuario{
	position: relative;
    float: left;
    margin: 20px 5%;
    width: 90%;
    border: 1px solid #000;
	border-radius: 20px;
	padding: 30px 0px;
}
.intprontuario{
	position:relative;
	float:left;
	width:96%;
	margin:10px 2%;	
	cursor:pointer;
}
.nomeprontuario{
    font-size: 1.2em;
    color: #666;	
}
.tipoqprontuario{
	padding: 10px 0px;
    font-size: 1.2em;
    color: #2e89f9;	
}
.subadm{
	    position: fixed;
    top: 60px;
    float: left;
    padding: 20px;
    font-size: 0.8em;
    background-color: #337ab7;
    margin-left: 42.8%;
    color: #FFF;
    width: 230px;
    z-index: 100;
	display:none;
}
.subitemadm{
    position: relative;
    float: left;
    padding: 10px 2%;
    width: 92%;
    margin: 0px 2%;
    border-bottom: 1px solid #70a1cc;
	cursor:pointer;	
}
.subitemadm:hover{
	background-color:#4b8abf;	
}
.itemplano{
	position:relative;
	float:left;
	width:24%;
	margin-left:1%;
	margin-top:20px;
	font-size:0.8em;
	color: #008dbc;
	font-weight: 600;
}
.linhaplanos{
display:none;	
}
input[type=checkbox]{
width: 16px;
    height: 16px;	
}
.bemvindo{
    font-size: 1.6em;
    color: #337ab7;	
	margin-top:100px;
}
.info{
color: #666;	
}
.right{
text-align: right;	
}
.enderecoclinica{
margin-top:300px;
line-height: 1.6em;
font-size: 0.8em;	
}

.linhasepara{
    position: relative;
    float: left;
    width: 90%;
    margin: 30px 5% 10px;
    border-top: 2px dashed #cacaca;	
}
.balaoconsulta{
	position: fixed;
	z-index: 300;
    top: -30px;
	width: 320px;
	height: 120px;
    padding: 8px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #5f5f5f;
	display:none;	
}
.horasfixas{
    position: absolute;
    left: 0px;
    top: 180px;
    width: 30px;
    font-size: 1em;
    box-shadow: 13px 0px 5px #666;
    z-index: 30;	
	display:none;
}
.horafixa{
position: relative;
    float: left;
    width: 40px;
    text-align: center;
    height: 64px;
    padding-top: 36px;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    background-color: #CCC;
    z-index: 20;
    color: #444;
}
.corpoprontuario{
width:90%;
margin: 30px 5%;	
}
.rdp_chat{
position:fixed;
width: 100%;
height: 60px;
background-color:#FFF;
bottom:0px;
z-index:30;
box-shadow: 0px 0px 10px #555;	
}
.titchat{
    position: relative;
    float: left;
    margin-left: 0;
    margin-top: 15px;
    height: 44px;
    width: 100px;
    margin-top: 0px;
    text-align: center;
    padding-top: 16px;
    font-size: 1.7em;
    color: #ffffff;
    background-color: #5bc0de;
}
#medicos_chat{
    margin-left: 30px;	
}
.caixachat{
	position:fixed;
	width: 400px;
	height: 540px;
	right: 30px;
	bottom: -500px;
	border-radius: 8px;
	z-index: 20;
	background-color: #EFEFEF;
	box-shadow: 0px 0px 6px #444;	
}
.nomemedchat{
	background-color: #5bc0de;
    padding: 10px 0px;
    text-align: center;
    font-weight: 600;
    color: #FFF;
    font-size: 1.2em;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;	
	border-bottom: 2px solid #5bc0de;
}
.contchat{
	
}
#medicos_chat{
position: relative;
    float: left;	
}
.msgchat{
position:relative;
width: 86%;
padding: 5px 2%;
border-radius: 5px;
font-size: 0.9em;
margin-top: 8px;
box-shadow: 0px 0px 3px #444;
}
.msgc1{
float:left;
margin-left: 2%;
background-color:#D0F9F8;	
}
.msgc2{
float:right;
margin-right: 2%;
background-color:#FFC;	
}
.contchat{
overflow-y: scroll;
	position: absolute;
    height: 350px;
    top: 45px;
	border-bottom: 1px solid #cecece;
	padding-bottom: 20px;		
}
.inputmsg{
position: absolute;
    bottom: 40px;
	width: 90%;
	left:5%;
	height: 80px;	
}
.medchat{
position: relative;
    float: left;
    padding: 8px;
    margin-top: 16px;
    margin-left: 20px;
    border-radius: 6px;
    background-color: #CCC;
}
.medicoschat{
	position:relativde;
	float:left;	
}
.linhadatachat{
    text-align: center;
    font-weight: 600;
    margin: 15px 0px 5px;
    color: #7b7b7b;	
}
.horariomsg{
        position: relative;
    float: left;
    padding: 5px 5px;
    background-color: #00000014;
    border-radius: 5px;
    margin: -5px 5px 5px -7px;	
}
#medicos_chat > option{
font-size: inherit;
padding: 6px 0px;	
}
.fechachat{
    position: absolute;
    right: 11px;
    font-weight: 600;
    top: 5px;
    font-size: 1.6em;
    color: #FFF;
    text-shadow: 0px 0px 2px #000;
    z-index: 5;
	cursor:pointer;
}
.atender{
        position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 147px;
    background-color: #5bc0de;
    text-shadow: 0px 0px 3px #828282;
    padding: 8px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    z-index: 30;	
}
.balaochat{
    position: fixed;
    bottom: 65px;
    left: 200px;
    z-index: 50;
    padding: 10px 20px;
    background-color: #FFF;
    border-radius: 8px;
    border: 3px solid #5bc0de;
    box-shadow: 0px 0px 5px #a7a7a7;
	text-align:center;
	display:none;
}
.setachat{
    position: absolute;
    bottom: -15px;	
}
.nomenovamsg{
    color: #11c31b;
    font-size: 1.2em;
	font-weight:600;	
}
.fotopt{
	    position: relative;
    float: left;
    margin: 10px;
}
.fotopt img{
max-height: 240px;	
}
.linhabtsalvar{
position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 15px 0px;
    background-color: #F4F4F4;
    box-shadow: -2px 0px 4px #b3b1b1;
	z-index: 80;	
}
.agdir{
position:fixed;
right:20px;
bottom:50%;
width: 50px;
height:50px;
border-radius: 50%;
box-shadow: 0px 4px 10px #545454;
background-color:#5bc0de;	
z-index: 60;
cursor:pointer;
opacity: 0.4;
}
.agesq{
position:fixed;
left:90px;
bottom:50%;
width: 50px;
height:50px;
border-radius: 50%;
box-shadow: 0px 4px 10px #545454;
background-color:#5bc0de;	
z-index: 60;
cursor:pointer;
opacity: 0.4;
display:none;
}

.agcima{
position:fixed;
top:160px;
left:50%;
width: 50px;
height:50px;
border-radius: 50%;
box-shadow: 0px 4px 10px #545454;
background-color:#5bc0de;	
z-index: 60;
cursor:pointer;
opacity: 0.4;
display:none;
}
.agbaixo{
position:fixed;
bottom:90px;
left:50%;
width: 50px;
height:50px;
border-radius: 50%;
box-shadow: 0px 4px 10px #545454;
background-color:#5bc0de;	
z-index: 60;
cursor:pointer;
opacity: 0.4;
}

.agdir:hover,.agesq:hover,.agecima:hover,.agbaixo:hover{
	background-color:#14ca1e;	
}
.agdir img, .agesq img, .agcima img, .agbaixo img{
width: 18px;
    margin-left: 18px;
    margin-top: 13px;	
}
.hconsulta{
padding: 4px 6px;
background-color: #6CF;	
}
.nomeconsulta{
padding: 4px 6px;
background-color:#FC0;	
}
.motivoconsulta{
padding: 4px 6px;
background-color:#6C9;
color:#FFF;	
}
.intconsulta{
	position:relative;
	float:left;
padding: 4px 6px;
margin-left: 0px;
border-left: 1px solid #CCC;
}
.qrelatorio{
	position: relative;
    float: left;
    width: 30%;
    margin: 20px 1.5%;
    border: 2px solid #3CF;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #b1b1b1;	
}
.titrelatorio{
	    text-align: center;
    padding: 10px 0px;
    font-size: 1.4em;
    background-color: #3CF;
    color: #FFF;
    text-shadow: 1px 1px 2px #828282;
}
.numrelatorio{
	font-size: 2.5em;
	color:#3CF;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px #828282;
}
.cabectbl{
	padding: 10px;
	background-color:#5cb85c;
	color:#FFF;
	text-shadow: 1px 1px 3px #999;	
}
.celtbl{
	padding: 10px;
	background-color:#F0F0F0;
	color:#000;	
}
.deletaproc{
	background-color: red;
    text-align: center;
    color: #FFF;
    cursor: pointer;	
}
.qjustconsulta,.qjustproc{
	display:none;	
}
.cadproc{
padding: 5px 1%;
    background-color: #a6ffb1;
    position: relative;
    float: left;
    width: 90%;
    margin: 5px 1%;	
}
.deletaprocreg{
position: relative;
    float: left;
    margin: 5px;
    padding: 5px 5px;
    background-color: red;
    color: #FFF;
	cursor:pointer;	
}
.minutosconsulta{
position: relative;
    float: left;
    width: 100%;
    height: 25%;
    border-bottom: 1px dashed #d2d2d2;	
}
.minutosconsulta:hover{
	background-color:#E6E6E6;
}
.exibehm{
position:relative;
float:right;
color:#999;
font-size:0.8em;
margin:5px;
display:none;	
}
.linhavaloresprocedimentos{
position:relative;
float:left;
margin-top:20px;
width:100%;	
}
.qprocedimentos{
    position: relative;
    float: left;
    width: 98%;
    padding: 0px 1% 5px;
    background-color: #f1f1f1;
    border-radius: 8px;
}
.intnome{
width: 195px;
    height: 12px;
    overflow: hidden;	
}
.ocultacancel{
    position: relative;
    float: right;
    margin-top: 25px;
    margin-right: 25px;	
}
.fotobalao, .fotonotif{
position:absolute;
left:10px;
top:10px;
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid #40f74d;
overflow:hidden;
}
.fotonotif{
	position:relative;
	top:5px;
}
.fotobalao img, .fotonotif img{
    width: 60px;
    margin-left: -10px;
    height: 40px;	
}
.nomebalao{
position: absolute;
    left: 70px;
    top: 20px;
    width: 240px;
    color: #5bc0de;
    font-size: 1.4em;	
}
.setabalao{
position: absolute;
    bottom: -26px;
    left: 10px;	
}
.horabalao{
position: absolute;
    left: 70px;
    top: 5px;
    width: 120px;
    color: #00d000;
    font-size: 1em;
    font-weight: 400;
}
.motivobalao{
	    position: absolute;
    width: 85%;
    padding: 10px 2%;
    margin: 0px 3%;
    border-top: 1px solid #CCC;
    top: 70px;
	color: #999;
}
.dadospac{
display:none;	
}
.qnumpaciente{
	position: absolute;
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 5px #337ab7;	
}
.qtotalconsultas{
	margin-top: 25px;
	margin-left: 5px;
}
.qultconsulta{
	margin-top: 25px;
    margin-left: 120px;
}
.numtotalconsultas{
	font-size: 2.2em;
    color: #337ab7;
    margin-top: 15px;	
}
.legendanum{
	font-size: 0.9em; 
	color: #666;	
}
.numtotalconsultas{
	font-size: 2em;
    color: #337ab7;	
}
.dataultimacons{
    font-size: 1.3em;
    color: #337ab7;
    font-weight: 600;
    margin-top: 28px;
	font-size: 1em;	
}
.anocons{
	font-size: 0.8em;	
}
.legendatirafoto{
    position: absolute;
    left: 50px;
    top: 126px;
    color: #006f94;
    font-weight: 600;
    font-size: 1.2em;	
}
.legendaultimas{
    position: absolute;
    left: 120px;
    color: #337ab7;
    font-weight: bold;	
}
.nomepac{
position: relative;
    float: left;	
}
.turno1{
        position: absolute;
    width: 9.7%;
    height: 612px;
    background-color: #fbff0536;
    overflow: hidden;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 0.3%;
	    font-size: 1.4em;
    color: #8e8e8e;
    font-weight: 600;
    letter-spacing: 2px;
}
.turno2{
        position: absolute;
    width: 9.7%;
	top:612px;
    height: 612px;
    background-color: #ff9b0536;
    overflow: hidden;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 0.3%;
	    font-size: 1.4em;
    color: #8e8e8e;
    font-weight: 600;
    letter-spacing: 2px;
}
.turno3{
        position: absolute;
    width: 9.7%;
	top:1224px;
    height: 612px;
    background-color: #ff110536;
    overflow: hidden;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 0.3%;
	    font-size: 1.4em;
    color: #8e8e8e;
    font-weight: 600;
    letter-spacing: 2px;
}
.filtrosagenda{
position:absolute;
right:0px;	
}
.btenviaassinatura{
margin-top:29px;
display:none;	
}

.tipocons{
 padding: 2px;
    background-color: #0000002e;
    border-radius: 3px;
}

.opcoescep{
    position: absolute;
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #929292;
    background-color: #f3f3f3;	
	z-index: 5;
	display:none;
}
.opcaocep{
	position: relative;
    float: left;
    width: 96%;
    margin: 3px 1%;
    padding: 5px 1%;
    /* background-color: #FFF; */
    border-bottom: 1px dashed #CCC;
    color: #444;	
	cursor:pointer;
	
}
.opcaocep:hover{
	background-color:#FFF;
}
#buscatermopront{
font-size: 1.2em;
    padding: 9px;	
}
.linhatbbuscapront td{
	padding: 5px 3px;
	border: 2px solid #FFF;
	background-color: #F4F4F4;	
}
.tdacessar{
	background-color:#6CF;
	padding: 8px;
	text-decoration:none;
	color:inherit;	
}
.avisoconexao{
position: fixed;
    right: -800px;
    /* width: 300px; */
    background-color: red;
    z-index: 1000;
    padding: 10px 20px;
    top: 80px;
    border-radius: 8px;
    font-size: 1.2em;
    color: #FFF;
    font-weight: 600;
    /* box-shadow: 0px 0px 3px #000;*/	
}
.numnotif{
	font-size: 1.2em;
    padding: 3px 7px 4px;
    background-color: #c12f2f;
    border-radius: 50%;
    margin: -10px;
	display:none;		
}
.qnotificacoes{
	position: absolute;
    float: left;
    top: 54px;
    right: 90px;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #444;
    width: 300px;
    background-color: #fff;
	display:none;	
}
.qnotif{
	position: relative;
    float: left;
    width: 96%;
    margin: 5px 1%;
    padding: 5px 1%;
    background-color: #e8e8e8;
    border-bottom: 1px solid #CCC;
    border-radius: 6px;
}
.datahoranotif{
	font-weight: 600;
}
.nomenotif{
	font-size: 1.2em;
    font-weight: 600;
    color: #666;	
}
.mednotif{
	color: #9368ad;
}
.titcancel{
	color: #9368ad;
    font-weight: 600;
    padding: 8px 0px;
}
#addmedicacao{
	padding: 11px 4px;	
}
.deletamedcron{
	padding: 1px 4px;
	font-size:0.9em;
	background-color:red;
	color:#FFF;
	cursor:pointer;	
}
