@charset "utf-8";
/* CSS Document */

.imgbox{
cursor:pointer;	
}

.imgboxbg{
position:fixed;
top:0px;	
left:0px;
margin:0px;
width: 100%;
height: 100%;
background-color:#000;
opacity: 0.7;
z-index: 50000;
display:none;
}
.imgboxabreimg{
position:absolute;
left:50%;
top:-2000px;	
z-index:100000;
padding: 0px 30px 30px 30px;
box-shadow: 0px 0px 20px #000;
background-color:#FFF;
display:none;
}
.imgboxabreimg img{
	margin-top:10px;
	max-width: 760px;
}
.fechafoto{
	position:absolute;
	width:46x;
right:0px;
color: #FFF;
padding: 4px;
cursor: pointer;
background-color:#004587;
}
.legendafoto{
	position:absolute;
	width:20px;
	top: 5px;
color: #000;
text-align:center;
}
.fotoanterior{
	position:absolute;
	width:26x;
left:0px;
color: #FFF;
padding: 8px;
cursor: pointer;
font-size: 28px;
background-color:#004587;
}
.fotoposterior{
	position:absolute;
	width:26x;
right:0px;
color: #FFF;
padding: 8px;
cursor: pointer;
font-size: 28px;
background-color:#004587;
}

