{% extends 'base.html.twig' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Planos de saúde</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gerenciar</li>
        </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Planos de saúde</h4>
    </div>
    <div class="d-none d-md-block">
        <button onclick="javascript:window.history.back();" class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="arrow-left" class="wd-10 mg-r-5"></i> Voltar</button>
    </div>
</div>
<div class="row row-xs">
  <div class="col">
    <form action="" method="post">
      <div class="card">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-9">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Nome do plano</label>
              <input type="text" name="plano" class="form-control" placeholder="Digitem um nome para o plano">
            </div>
            <div class="form-group col-md-3">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Honorários</label>
              <input type="text" name="honorario" class="form-control" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Total</label>
              <input type="text" name="total" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Total médico</label>
              <input type="text" name="medico" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Total clínica</label>
              <input type="text" name="clinica" class="form-control" placeholder="">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Coparticipação</label>
              <input type="text" name="coparticipacao" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Coparticipação clínica</label>
              <input type="text" name="coparticipacaoclinica" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Coparticipação médico</label>
              <input type="text" name="coparticipacaomedico" class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <div class="card-footer pd-x-20 pd-y-15 text-right">
          <button type="submit" class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}