{% extends 'base.html.twig' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="#">Planos de saúde</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gerenciar</li>
            </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Planos de saúde</h4>
    </div>
    <div class="d-none d-md-block">
        <button onclick="javascript:window.history.back();" class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="arrow-left" class="wd-10 mg-r-5"></i> Voltar</button>
    </div>
</div>
<div class="row row-xs">
    <div class="col">
        <form action="" method="post">
            <input type="hidden" name="id" value="{{ hp.id }}">
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label class="">Nome do plano</label>
                    <input type="text" name="plano" class="form-control" placeholder="" value="{{ hp.name }}">
                </div>
                <div class="form-group col-md-3">
                    <label class="">Honorários</label>
                    <input type="text" name="honorario" class="form-control" placeholder="" value="{{ hp.honorary }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="">Total</label>
                    <input type="text" name="total" class="form-control" placeholder="" value="{{ hp.totalPrice }}">
                </div>
                <div class="form-group col-md-4">
                    <label class="">Total médico</label>
                    <input type="text" name="medico" class="form-control" placeholder="" value="{{ hp.doctorPrice }}">
                </div>
                <div class="form-group col-md-4">
                    <label class="">Total clínica</label>
                    <input type="text" name="clinica" class="form-control" placeholder="" value="{{ hp.clinicPrice }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="">Coparticipação</label>
                    <input type="text" name="coparticipacao" class="form-control" placeholder="" value="{{ hp.coparticipation }}">
                </div>
                <div class="form-group col-md-4">
                    <label class="">Coparticipação clínica</label>
                    <input type="text" name="coparticipacaoclinica" class="form-control" placeholder="" value="{{ hp.doctorCoparticipation }}">
                </div>
                <div class="form-group col-md-4">
                    <label class="">Coparticipação médico</label>
                    <input type="text" name="coparticipacaomedico" class="form-control" placeholder="" value="{{ hp.clinicCoparticipation }}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
    </div>
</div>

{% endblock %}