{% extends 'base.html.twig' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Planos de saúde</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gerenciar</li>
        </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Planos de saúde</h4>
    </div>
    <div class="d-none d-md-block">
        <a href="planos-saude-novo.php" class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="plus" class="wd-10 mg-r-5"></i> Adicionar plano de saúde</a>
    </div>
</div>
<div class="row row-xs">
    <div class="col">
        <div class="card mg-b-12">
          <div class="table-responsive">
            <table class="table table-dashboard mg-b-0">
              <thead>
                <tr>
                  <th>Plano</th>
                  <th class="text-right">Valor total</th>
                  <th class="text-right">Total médico</th>
                  <th class="text-right">Total clínica</th>
                  <th class="text-right">Honorário</th>
                  <th class="text-right">Coparticipação</th>
                  <th class="text-right">Cop. clínica</th>
                  <th class="text-right">Cop. médico</th>
                  <th class="text-right tx-medium">Ações</th>
                </tr>
              </thead>
              <tbody>
                {% for hp in healthPlans %}
                <tr>
                  <td class="tx-color-03 tx-normal">{{ hp.name|upper }}</td>
                  <td class="tx-medium text-right">R$ {{ hp.totalPrice }}</td>
                  <td class="text-right tx-teal">R$ {{ hp.doctorPrice }}</td>
                  <td class="text-right tx-teal">R$ {{ hp.clinicPrice }}</td>
                  <td class="tx-medium text-right">{{ hp.honorary }}</td>
                  <td class="tx-medium text-right">{{ hp.coparticipation }}</td>
                  <td class="tx-medium text-right">{{ hp.doctorCoparticipation }}</td>
                  <td class="tx-medium text-right">{{ hp.clinicCoparticipation }}</td>
                  <td class="tx-medium text-right">
                        <a href="planos-saude-editar.php?healthPlanId={{ hp.id }}" class="tx-small">Editar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
{% endblock %}