<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="DashForge">
    <meta name="twitter:description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="twitter:image" content="http://themepixels.me/dashforge/img/dashforge-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/dashforge">
    <meta property="og:title" content="DashForge">
    <meta property="og:description" content="Responsive Bootstrap 4 Dashboard Template">

    <meta property="og:image" content="http://themepixels.me/dashforge/img/dashforge-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/dashforge/img/dashforge-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="ThemePixels">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">

    <title>Clínica Web</title>

    <!-- vendor css -->
    <link href="../assets/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../assets/lib/jqvmap/jqvmap.min.css" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="../assets/css/dashforge.css">
    <link rel="stylesheet" href="../assets/css/dashforge.dashboard.css">
  </head>
  <body>

    <aside class="aside aside-fixed">
      <div class="aside-header">
        <a href="atividades.php" class="aside-logo">Clínica<span>web</span></a>
        <a href="" class="aside-menu-link">
          <i data-feather="menu"></i>
          <i data-feather="x"></i>
        </a>
      </div>
      <div class="aside-body">
        <div class="aside-loggedin">
          <div class="d-flex align-items-center justify-content-start">
            <a href="" class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></a>
            <div class="aside-alert-link">
              <!-- <a href="" class="new" data-toggle="tooltip" title="You have 2 unread messages"><i data-feather="message-square"></i></a>
              <a href="" class="new" data-toggle="tooltip" title="You have 4 new notifications"><i data-feather="bell"></i></a> -->
              <a href="logout.php" data-toggle="tooltip" title="Sair"><i data-feather="log-out"></i></a>
            </div>
          </div>
          <div class="aside-loggedin-user">
             <div class="d-flex align-items-center justify-content-between mg-b-2">
              <h6 class="tx-semibold mg-b-0">Bruno Bandeira</h6>
            </div>
            <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
          </div>
          <!--<div class="aside-loggedin-user">
             <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
              <h6 class="tx-semibold mg-b-0">Bruno Bandeira</h6>
              <i data-feather="chevron-down"></i>
            </a>
            <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
          </div>
          <div class="collapse" id="loggedinMenu">
            <ul class="nav nav-aside mg-b-0">
              <li class="nav-item"><a href="" class="nav-link"><i data-feather="edit"></i> <span>Edit Profile</span></a></li>
              <li class="nav-item"><a href="" class="nav-link"><i data-feather="user"></i> <span>View Profile</span></a></li>
              <li class="nav-item"><a href="" class="nav-link"><i data-feather="settings"></i> <span>Account Settings</span></a></li>
              <li class="nav-item"><a href="" class="nav-link"><i data-feather="help-circle"></i> <span>Help Center</span></a></li>
              <li class="nav-item"><a href="" class="nav-link"><i data-feather="log-out"></i> <span>Sign Out</span></a></li>
            </ul>
          </div>-->
        </div><!-- aside-loggedin -->
        <ul class="nav nav-aside">
          <li class="nav-label">Dashboard</li>
          <li class="nav-item"><a href="atividades.php" class="nav-link"><i data-feather="activity"></i> <span>Atividades</span></a></li>
          <li class="nav-item active"><a href="agendar-consulta.php" class="nav-link"><i data-feather="calendar"></i> <span>Agendar consulta</span></a></li>
          <li class="nav-label mg-t-25">Pacientes</li>
          <li class="nav-item"><a href="pacientes.php" class="nav-link"><i data-feather="users"></i> <span>Pacientes</span></a></li>
          <li class="nav-item"><a href="pacientes-dulpicados.php" class="nav-link"><i data-feather="user-x"></i> <span>Duplicados</span></a></li>
          <li class="nav-item"><a href="pacientes-origem.php" class="nav-link"><i data-feather="globe"></i> <span>Origem</span></a></li>
          <li class="nav-label mg-t-25">Planos de saúde</li>
          <li class="nav-item"><a href="planos-saude.php" class="nav-link"><i data-feather="heart"></i> <span>Planos de saúde</span></a></li>
          <li class="nav-item"><a href="vincular-medico.php" class="nav-link"><i data-feather="paperclip"></i> <span>Vincular médico</span></a></li>
          <li class="nav-label mg-t-25">Clínica</li>
          <li class="nav-item"><a href="usuarios.php" class="nav-link"><i data-feather="users"></i> <span>Usuários</span></a></li>
          <li class="nav-item"><a href="procedimentos.php" class="nav-link"><i data-feather="crop"></i> <span>Procedimentos</span></a></li>
          <li class="nav-item"><a href="valor-consultas.php" class="nav-link"><i data-feather="dollar-sign"></i> <span>Valor de consultas</span></a></li>
          <li class="nav-item with-sub">
            <a href="" class="nav-link"><i data-feather="grid"></i> <span>Salas</span></a>
            <ul>
              <li><a href="salas.php">Ver / Cadastrar</a></li>
              <li><a href="salas-reservar-mes.php">Reservar por mes</a></li>
              <li><a href="salas-reservar-dia.php">Reservar por dia</a></li>
            </ul>
          </li>
          <li class="nav-item with-sub">
            <a href="" class="nav-link"><i data-feather="layers"></i> <span>Estoque</span></a>
            <ul>
              <li><a href="estoque-categorias.php">Categorias</a></li>
              <li><a href="estoque-itens.php">Verificar itens</a></li>
            </ul>
          </li>
          <li class="nav-label mg-t-25">Relatórios</li>
          <li class="nav-item"><a href="balanco-geral.php" class="nav-link"><i data-feather="bar-chart-2"></i> <span>Balanço geral</span></a></li>
          <li class="nav-item"><a href="geral-excel.php" class="nav-link"><i data-feather="file-plus"></i> <span>Gerar excel</span></a></li>
        </ul>
      </div>
    </aside>

    <div class="content ht-100v pd-0">
      <div class="content-header">
        <div class="content-search">
          <i data-feather="search"></i>
          <input type="search" class="form-control" placeholder="Search...">
        </div>
        <nav class="nav">
          <a href="" class="nav-link"><i data-feather="help-circle"></i></a>
          <a href="" class="nav-link"><i data-feather="grid"></i></a>
          <a href="" class="nav-link"><i data-feather="align-left"></i></a>
        </nav>
      </div><!-- content-header -->

      <div class="content-body">
        <div class="container pd-x-0">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <script src="../assets/lib/jquery/jquery.min.js"></script>
    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/lib/feather-icons/feather.min.js"></script>
    <script src="../assets/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../assets/lib/jquery.flot/jquery.flot.js"></script>
    <script src="../assets/lib/jquery.flot/jquery.flot.stack.js"></script>
    <script src="../assets/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="../assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="../assets/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="../assets/lib/jqvmap/maps/jquery.vmap.usa.js"></script>

    <script src="../assets/js/dashforge.js"></script>
    <script src="../assets/js/dashforge.aside.js"></script>
    <script src="../assets/js/dashforge.sampledata.js"></script>
    <script src="../assets/js/dashboard-one.js"></script>

    <!-- append theme customizer -->
    <script src="../assets/lib/js-cookie/js.cookie.js"></script>
    <script src="../assets/js/dashforge.settings.js"></script>
  </body>
</html>

