{% extends 'base.html.twig' %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>
        </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Welcome to Dashboard</h4>
    </div>
    <div class="d-none d-md-block">
        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase"><i data-feather="mail" class="wd-10 mg-r-5"></i> Email</button>
        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="file" class="wd-10 mg-r-5"></i> Generate Report</button>
    </div>
</div>
<div class="row row-xs">
<div class="col-md-6 col-xl-4 mg-t-10">
    <div class="card ht-100p">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h6 class="mg-b-0">Usuários do sistema</h6>
        </div>
        <ul class="list-group list-group-flush tx-13">
            {% for user in users %}
            <li class="list-group-item d-flex pd-sm-x-20">
            <div class="avatar"><span class="avatar-initial rounded-circle bg-gray-600">s</span></div>
            <div class="pd-l-10">
                <p class="tx-medium mg-b-0">{{ user.name }}</p>
                <small class="tx-12 tx-color-03 mg-b-0">Usuário ID#{{user.id}}</small>
            </div>
            <div class="mg-l-auto d-flex align-self-center">
                <nav class="nav nav-icon-only">
                <a href="" class="nav-link d-none d-sm-block"><i data-feather="mail"></i></a>
                <a href="" class="nav-link d-none d-sm-block"><i data-feather="slash"></i></a>
                <a href="" class="nav-link d-none d-sm-block"><i data-feather="user"></i></a>
                <a href="" class="nav-link d-sm-none"><i data-feather="more-vertical"></i></a>
                </nav>
            </div>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>

{% endblock %}